.marginbottom {
    margin-bottom: 3rem;
}

.aboutcontainer {
    width: clamp(300px, 80vw, var(--about-max-container-width));
    margin-right: auto;
    margin-left: auto;
    /* transform: translateY(-10%); */
    /* padding-top: var(--wrapper-padding) */
}

.abouttextcontainer {
    font-size: 1.2rem;
    transition: 1s;
    margin-bottom: 7rem;
}

.abouttextcontainer > p {
    margin-bottom: 2.5rem;
    line-height: 1.7;
}

.imageofme {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: scale(.2);
}

.icon {
    display: inline-block;
    margin-left: 2px;
}

/* chanign background and text */

.default {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 0;

    transition: 1.2s;
}

.defaultheight {
    height: 100vh;
}

.bg1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    transition: 1.2s;

    background: var(--bg-color-lm); 
}

.invisible {
    opacity: 0;
    transition: 1s;
}