.contactcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contacttitle {
    margin: 1rem;
    font-weight: 400;
}

.iconcontainer{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

    gap: 1rem;
}