:root {
    /* lm for light mode */
    --bg-color-lm: #f1f1f1;
    --card-bg-lm: rgba(204, 204, 204, 0.5);

    --text-color-lm: rgb(244 ,244, 244);

    --link-color-lm: #001eff;
    --link-hover-color-lm: #0072f5;

    /* ! currently unused, use the lm variables above */ 
    --bg-color-dm: #1a1a1a;
    --text-color-dm: rgb(255, 255, 255);

    /* spacing */
    --section-top-padding : 7rem;

    --letter-spacing: 0.1rem;
    --header-weight: 500;

    /* fonts */
    /* --font-primary: "Playfair Display"; */
    --font-primary: "Lora";
    --font-secondary: "Open Sans";

    /* type scale */
    /* !https://type-scale.com/ */

    --font-size-hero: 7.594rem;
    --font-size-h1: 5.063rem;
    --font-size-h2: 3.375rem;
    --font-size-h3: 2.25rem;
    --font-size-h4: 1.5rem;
    --font-size-h5: 1rem;

    /* for button styling in hero.module.css */
    --bg: #9a9a9a;
    --coal: #333;
    --white: #fff;
    --focus: #002a2a;
}