/* .projectswrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 3rem;
} */

.titlecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    position: relative;

}

.projectswrapper {
    margin: auto;
    width: clamp(300px, 80vw, 800px);
    margin-bottom: 6rem;
}

.projectscontainer{
    width: 100%;
    cursor: pointer;
    padding-top: 1rem;
    padding-bottom: 1rem;

    display: flex;
    flex-direction: column;
}

.imagecontainer {
    position: relative;
    width: 70%;
    height: 70%;
    margin-bottom: 3rem;
    filter: brightness(.8);

    transition: ease-out 0.3s;
}

.imagecontainer img {
    border-radius: 10px;
}

.imagecontainer:hover {
    position: relative;
    width: 70%;
    height: 70%;
    margin-bottom: 3rem;
    filter: brightness(.9);

    /* transform: scale(1.02); */
    transition: ease-out 0.3s;
}

.imageandtitle {
    position: relative;
    /* margin-bottom: 3rem; */
    min-height: 5rem;
    margin-top: 2rem;

    transition: ease-out 0.3s;
}

/* .imageandtitle:hover {
    transition: ease-out 0.3s;
    transform: scale(1.01);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
} */

.justtitle {
    position: relative;
    left: 0;
    width: 100%;
}

.titlecard {
    --scale : .05;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--card-bg-lm);
    backdrop-filter: blur(5px);
    padding: 2rem 2rem;
    font-family: var(--font-primary);
    box-shadow: 0px 0px 10px rgba(135, 135, 135, 0.1);
    border-radius: 12px;

    transition: ease-out 0.3s;
}

@media screen and (max-width: 600px) {
    .titlecard {
        padding: 1.5rem 1.5rem
    }
}

.titlecard:hover {
    transition: ease-out 0.3s;
    transform: rotate(2deg) translateY(-10px) scale(1.04);
    opacity: 1;
    background-color: var(--card-bg-lm);
}

.titlecardrelative {
    position: relative;
    font-family: var(--font-primary);
    padding-bottom: 1rem;
}

.fptitle {
    margin-bottom: 3rem;
}

.projecttitle {
    font-weight: 500;
    margin: 0;
    width: 100%;
}

.descriptionimage {
    font-weight: 400;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.description {
    height: auto;
}

.description > p, .descriptionimage > p {
    margin: 0;
    line-height: 1.7;
    font-size: clamp(1rem, 2vw, 1.1rem);
}

.iconcontainer{
    position: relative;
    height: 0px;
    transform: translateY(-8px);
}

.icon {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 1rem;
    opacity: .7;

    transition: ease-out 0.2s;
}

.icon:hover {
    opacity: 1;
    transform: scale(1.5);
    transition: ease-out 0.2s;
}

.beneverman.com {
    background-color: red;
}