.projectswrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 3rem;
}

.titlecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;

}

.projectswrapper {
    margin: auto;
    max-width: 900px;
}

.projectscontainer{
    width: 100%;
    cursor: pointer;
    padding-top: 3rem;
    padding-bottom: 1rem;

    display: flex;
    flex-direction: column;
}

.imagecontainer {
    position: relative;
    width: 70%;
    height: 70%;
    margin-bottom: 3rem;
}

.imageandtitle {
    position: relative;
    /* margin-bottom: 3rem; */
    min-height: 5rem;
    margin-top: 2rem;

    transition: ease-out 0.3s;
}

/* .imageandtitle:hover {
    transition: ease-out 0.3s;
    transform: scale(1.01);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
} */

.justtitle {
    position: relative;
    left: 0;
    width: 100%;
}

.titlecard {
    --scale : .05;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--card-bg-lm);
    backdrop-filter: blur(5px);
    padding: 2rem 2rem;
    font-family: "Playfair Display";
    font-weight: 500;
    box-shadow: 0px 0px 10px rgba(135, 135, 135, 0.1);

    transition: ease-out 0.3s;
}

.titlecard:hover {
    transition: ease-out 0.3s;
    transform: rotate(2deg) translateY(-10px) scale(1.04);
    opacity: 1;
    background-color: var(--card-bg-lm);
}

.titlecardrelative {
    position: relative;
    font-family: "Playfair Display";
    font-weight: 500;
    padding-bottom: 1rem;
}

.fptitle {
    margin-bottom: 3rem;
}

.projecttitle {
    font-weight: 500;
    margin: 0;
    width: 100%;
}

.descriptionimage {
    font-weight: 400;
    margin-top: 3rem;
}

.description {
    margin-top: 1rem;
}

.iconcontainer{
    position: relative;
    height: 0px;
    transform: translateY(-8px);
}

.icon {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 1rem;
    opacity: .7;

    transition: ease-out 0.2s;
}

.icon:hover {
    opacity: 1;
    transform: scale(1.5);
    transition: ease-out 0.2s;
}

/* Project Page (pp stands for project page)*/

.ppgrid {
    /* max-width: 60%;
    margin: auto; */

    padding-top: 2.5rem;

    display: grid;
    grid-template-columns: repeat(2, 10%) 1fr repeat(2, 10%);
    grid-template-rows: repeat(2, 5rem) 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    z-index: 0;
}

.ppimagecontainer {
    margin-top: 4rem;
    grid-row: 3;
    grid-column: 3;
}

.pptextcontainer {
    grid-row: 10;
    grid-column: 3;
}

.ppiconcontainer {
    grid-row: 2;
    grid-column: 2;
    margin: 2rem 3rem auto auto;
}

.ppicon:hover {
    cursor: pointer;
}