.footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(245, 245, 245);
}

.iconcontainer {
    float: right;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.copyrightcontainer {
    float: left;
    padding: 1.5rem
}