html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-secondary), var(--font-primary);
  font-size: 100%;

  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--text-color-lm);
  background-color: var(--bg-color-lm);
}

h1 {
  color: var(--text-color);

  font-family: var(--font-primary);
  font-weight: var(--header-weight);
  font-size: clamp(3.5rem, 10vw, var(--font-size-h1));

  margin-top: 0;
}

h2 {
  font-size: clamp(0rem, 8vw, var(--font-size-h2));
  font-weight: 600;
}

h3 {
  font-size: clamp(1rem, 4vw, var(--font-size-h3));
  font-weight: 600;
}

h4 {
  font-size: var(--font-size-h4);
  font-weight: 500;
}

h5 {
  font-size: var(--font-size-h5);
  font-weight: 400;
}

h6 {
  font-size: var(--font-size-h6);
}

img {
  max-width: 100%;
}

a {
  color: #0072f5;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

p {
  line-height: 1.7;
  font-family: var(--font-secondary);
  font-size: clamp(1rem, 2.5vw, 1.3rem);
}

u {
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

/* ! Backgrounds */

/* !using this background right now */
.backgrounddm {
  --gradient-color-1: #161837;
  --gradient-color-2: #2f303b;

  /* background: var(--gradient-color-1);
  background: -webkit-linear-gradient(to right, var(--gradient-color-1), var(--gradient-color-2));
  background: linear-gradient(to right, var(--gradient-color-1), var(--gradient-color-2)); */
  
  background: rgb(21,22,45);
  background: linear-gradient(27deg, rgba(21,22,45,1) 28%, rgba(0,0,0,1) 100%);
}

.backgroundlm {
  background-color: var(--bg-color-lm);
}

.uigradient1 {
  background: #f12711;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f5af19, #f12711);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f5af19, #f12711);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* ! Sections, Wrappers, and Container */

.sectionpadded {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: var(--section-top-padding);
}

.section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.relative {
  position: relative;
}

.wrapper {
  max-width: 1152px;
  margin: auto;
  position: relative;
}

.line {
  border: 0;
  clear: both;
  display: block;
  background-color: var(--text-color-lm);
  height: 1.5px;
}

.shiftup {
  transform: translateY(-10%)
}

.animationcontainer {
  margin: 0;
}

.animation {
  position: relative;
  transition: 0.5s;
}

.icon {
  padding: 0;
  color: var(--text-color-dm);
  transition: .3s ease;
}

.icon:hover {
  cursor: pointer;
  color: var(--link-hover-color);
  transition: .3s ease;
}

.counter {
  position: fixed;
  top: 0;
  left: 0;

}

.scrollcontainerouter {
  height: 100vh;
  overflow: scroll;
}

.scrollcontainerinner {
  height: 200%;
  position: relative;
}

/* .animation:hover {
  filter: blur(2px);
} */

/* Button Stuff */

.form {
  display: flex;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: auto;
}

input {
  position: absolute;
  opacity: 0;
}

input+label {
  outline: 2px solid transparent;
  transform: scale(1, 1);
  transition: outline 0.25s ease, transform 0.15s ease;
}

input:focus+label {
  outline: 2px solid var(--focus);
}

input:active+label {
  transform: scale(1.05);
}

.gradientunderline {
  transition: all 1s;

  background:
    linear-gradient(to right,
      rgb(255, 255, 255),
      rgb(255, 255, 255)),
    linear-gradient(to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1));
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;

}

.gradientunderline:hover {
  background-size: 0 3px, 100% 3px;
}

/* !Change button size with -w var */
label {
  --w: 4rem;
  --h: calc(var(--w) / 2);
  --br: calc(var(--w) / 1);
  position: relative;
  background: var(--white);
  display: block;
  width: var(--w);
  height: var(--h);
  border-radius: var(--br);
  box-shadow: 0px calc(var(--w) / 7.5) calc(var(--w) / 3.75) 0px rgba(51, 51, 51, 0.1);
  cursor: pointer;
  text-indent: 200vw;
  overflow: hidden;
  --size: calc(var(--w) / 3);
  --offset: calc(var(--w) / 12);
}

label::before,
label::after {
  content: "";
  position: absolute;
}

label::before {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: var(--coal);
  left: 0px;
  top: 50%;
  transform: translate(var(--offset), -50%);
  box-shadow: calc(var(--w) - calc(var(--offset) * 2) - var(--size)) 0px 0px var(--white);
  z-index: 1;
}

label::after {
  width: var(--size);
  height: var(--size);
  left: 0;
  top: 50%;
  background: var(--coal);
  transform: translate(-100%, -50%) scale(1);
  transform-origin: left;
  border-radius: 50%;
  transition: transform 0.35s ease;
}

input:checked+label::after {
  transform: translate(-100%, -50%) scale(5);
}

.scrollcounter {
  position: fixed;
  top: 0;
  left: 0;
}