.inactive {
    background:
        linear-gradient(to right,
            rgb(255, 255, 255, 0),
            rgb(255, 255, 255, 0)),
        linear-gradient(to right,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 180, 1),
            rgba(0, 100, 200, 1));
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
}

.active {
    transition: all 2s;
    transition-delay: 1s;

    background:
        linear-gradient(to right,
            rgb(255, 255, 255, 0),
            rgb(255, 255, 255, 0)),
        linear-gradient(to right,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 180, 1),
            rgba(0, 100, 200, 1));
    background-size: 0 2px, 100% 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
}

.inactiveold {
    background:
        linear-gradient(to right,
            rgb(255, 255, 255),
            rgb(255, 255, 255)),
        linear-gradient(to right,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 180, 1),
            rgba(0, 100, 200, 1));
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
}

.activeold {
    transition: all 2s;
    transition-delay: 1s;

    background:
        linear-gradient(to right,
            rgb(255, 255, 255),
            rgb(255, 255, 255)),
        linear-gradient(to right,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 180, 1),
            rgba(0, 100, 200, 1));
    background-size: 0 2px, 100% 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
}