.herotitle {
    font-size: var(--font-size-hero);
    margin: 0;
    line-height: var(--font-size-hero);
    position: absolute;
    padding-bottom: 1rem;
    padding-left: 10px;

    /* font-family: Helvetica; */
    font-weight: 600;
    color: rgb(7, 7, 7);
    z-index: 2;

    transition: all 0.5s;
}

/* .herotitle:hover {
    transform: scale(1.1);
} */

.hero2title {
    font-weight: 400;
    transform: translateY(-10%);
    margin: 0;
}

.herocontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.titlecontainer {
    /* this fixed height keeps the div from changing height based on the component inside. That's bad because the button will move */
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: visible;
}

.iconcontainer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
}

/* Button stuff */

.buttoncontainerold {
    margin-top: 4rem;
    display: block;
}

.buttoncontainer {
    margin-top: 5rem;
    display: block;
}

.behindanimation {
    position: absolute;
    margin: 0;
    padding: 0;
    transform: translateY(-25%);
}