.herotitle {
    font-size: var(--font-size-hero);
    margin: 0;
    line-height: var(--font-size-hero);
    /* position: absolute; */
    padding-bottom: 1rem;
    padding-left: 10px;

    /* font-family: Helvetica; */
    font-weight: 600;
    color: var(--text-color-lm);
    z-index: 2;

    transition: all 0.5s;
}

/* .herotitle:hover {
    transform: scale(1.1);
} */

.hero2title {
    font-weight: 400;
    transform: translateY(-10%);
    margin: 0;
}

.herocontainer {
    display: flex;
    flex-direction: column;
}

.typewritercontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color-lm);
}

.typewriter {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-size-h3);
}

.typewritercursor {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-size-h3);
    -webkit-animation: blink-animation 1s steps(10, start) infinite;
    animation: blink-animation 1s steps(10, start) infinite;
    margin-left: 1px;
}

@keyframes blink-animation {
    to {
        opacity: 0;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.titlecontainer {
    /* this fixed height keeps the div from changing height based on the component inside. That's bad because the button will move */
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

    overflow: visible;
}

.contactcontainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom: 0;
    left: 0;
}

/* Button stuff */

.buttoncontainerold {
    margin-top: 4rem;
    display: block;
}

.buttoncontainer {
    margin-top: 5rem;
    display: block;
}

.behindanimation {
    position: absolute;
    margin: 0;
    padding: 0;
    transform: translateY(-25%);
}