.container {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    /* transform: translateY(-10%); */
    /* padding-top: var(--wrapper-padding) */
    transition: 1s;
}

.containerblack {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    /* transform: translateY(-10%); */
    /* padding-top: var(--wrapper-padding) */

    color: black;
    transition: 1s;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 4rem;
}

.titlecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
}

.imagecontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
}

.imagedirectcontainer{
    max-width: 70%;
}

.textcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textcontainer > p {
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
    line-height: 1.7;
}