.navbar {
    overflow: hidden;
    background-color:  var(--bg-color-lm);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    float: right;
    z-index: 1;

    /* change visibility */
    background: transparent;
}

.navbar ul {
    float: right;
    list-style-type: none;

    margin-top: .5rem;
    margin-right: 2rem;
    margin-bottom: 0;
}

.navbar li {
    padding: 1rem 2rem;
    display: inline-block;
}

.navbar a {
    color: var(--text-color-lm);
    text-decoration: none;
}

.navbar a:hover{
    color: var(--link-color-hover-lm);
    transition: ease-in 0.2s;
}

.logo {
    float: left;
    margin-left: 2rem;
    margin-top: .5rem;
}